xml/hospital.dtd

<!DOCTYPE hospital [
	<!ELEMENT prosthetic (name, address, telephone, patient)>
	<!ATTLIST hospital name CDATA #REQUIRED>
	<!ELEMENT address (#PCDATA)>
	<!ELEMENT telephone (#PCDATA)>
	<!ELEMENT patient(name, lastname)>
	<!ATTLIST patient id CDATA #REQUIRED>
	<!ELEMENT name (#PCDATA)>
	<!ELEMENT lastname (#PCDATA)>
	
]>