xml/hospital.dtd

<!DOCTYPE hospital [
	<!ELEMENT prosthetic (name, address, telephone, doctors+)>
	<!ATTLIST hospital name CDATA #REQUIRED>
	<!ELEMENT address (#PCDATA)>
	<!ELEMENT telephone (#PCDATA)>
	<!ELEMENT doctors (doctor+)>
	<!ELEMENT doctor (name, lastname, telephone)>
	<!ATTLIST doctor id CDATA #REQUIRED>
	<!ELEMENT name (#PCDATA)>
	<!ELEMENT lastname (#PCDATA)>
	<!ELEMENT telephone (#PCDATA)>
	
]>