xml/prosthetic.dtd

<!DOCTYPE prosthetic [

	<!ELEMENT prosthetic (material, price, dimensions, failures, available,patient)>
	<!ATTLIST prosthetic type CDATA #REQUIRED>
	<!ELEMENT material (#PCDATA)>
	<!ELEMENT price (#PCDATA)>
	<!ELEMENT dimensions (#PCDATA)>
	<!ELEMENT failures (#PCDATA)>
	<!ELEMENT available (#PCDATA)>
	<!ELEMENT patient (name, lastname)>
	<!ATTLIST patient id CDATA #REQUIRED>
	<!ELEMENT name (#PCDATA)>
	<!ELEMENT lastname (#PCDATA)>
	]